@use '../abstracts' as *;

.kit-section {
  margin-bottom: space(8);

  &__title {
    font-size: to-rem(14px);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: theme('text-muted');
    margin-bottom: space(3);
  }
}
